<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="mat-drawer-sidenav" mode="side" [opened]="true">
        <!-- Hinweis: Das [opened] stammt aus den Properties von mat-drawer (steht unter Sidenav in den Components) -->
        <!--          Dort steht: @Input() opened, was hier wie oben eingetragen wird -->
        <!--          Die Einstellung bedeutet, daß die Sidebar per Default geöffnet ist -->
        
        <div class="logo-container"><img src="./assets/img/simple-crm-logo.png" alt="Logo"></div>

        <ul class="menu-items">
            <li routerLink="/"><mat-icon>dashboard</mat-icon>Dashboard</li>
            <li routerLink="/user"><mat-icon>people</mat-icon>User</li>
        </ul>
        
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
                <!-- Hinweis: Das 'menu' bei mat-icon ist der Name des Icons, wie er auf der Seite von material.angular.io angegeben ist -->
                <span>Simple CRM</span>
            </mat-toolbar-row>
        </mat-toolbar>
        
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>