<mat-card>
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
                <th></th>
            </tr>
            <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.id]">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
                <td><mat-icon matListItemIcon class="listIcon" (click)="deleteUser(user.id)">delete</mat-icon></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button mat-fab color="primary" class="add-user-btn" matTooltip="Add User" [matTooltipPosition]="'above'" (click)="openDialog()">
    <!-- Hinweis: Die Position des Tooltips muss mit "'...'" angegeben werden (Doppeltes Hochkomma, einfaches Hochkomma) -->
    <mat-icon>person_add</mat-icon>
</button>