<mat-card>
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr>
                <td>yep</td>
                <td>yep yep</td>
                <td>yep yep yep</td>
            </tr>
            <tr>
                <td>dops</td>
                <td>dops dops</td>
                <td>dops dops dops</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button mat-fab color="primary" class="add-user-btn" matTooltip="Add User" [matTooltipPosition]="'above'" (click)="openDialog()">
    <!-- Hinweis: Die Position des Tooltips muss mit "'...'" angegeben werden (Doppeltes Hochkomma, einfaches Hochkomma) -->
    <mat-icon>person_add</mat-icon>
</button>